.header {
  background: #202024;
  display: flex;
  justify-content: center;
  padding: 1.25rem 0; /*1rem é 16px, ent 0,25 é 16/4, que da 20*/
}
.header img {
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
}
.header strong {
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  color: #fff;
}
